<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<body>
  <nav class="navbar" id="nav-bar">
    <div class="navbar-right" >
      <div class="dropdown">
      </div>
    </div>
  </nav>
  <div class="botones-container">
    <div class="botones">
      <a href="login" class="btn btn-lg">
      <i class="fa fa-solid fa-user-shield"></i>
      <br>Seguridad
      </a>
      <a href="login" class="btn btn-lg">
      <i class="fa fa-solid fa-briefcase"></i>
      <br>Administración
      </a>
    </div>
  </div>