  body {
    margin: 0;
    padding: 0;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
   }

  span{
    padding-top: 10px; 
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  }
  .navbar {
    background-color: #033c6b;
    display: flex;
    justify-content: flex-end; 
    padding: 10px 20px; 
  }
  
  /* Estilo de la parte derecha de la barra de navegación */
  .navbar-right {
    color: white;
  }
  
  .dropbtn {
    background-color: #033c6b;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Estilo del contenido desplegable */
  .dropdown-content-lg {
    display: none;
      position: absolute;
      background-color: #033c6b;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      width: 140%;
      height: 13vh;
  }
  
  /* Mostrar el contenido desplegable al pasar el ratón por encima */
  .dropdown:hover .dropdown-content-lg {
    display: block;
  }
  
  /* Estilo del botón "Cerrar Sesión" */
.btn-danger {
  background-color: rgb(236, 34, 34);
  color: white;
  cursor: pointer;
  font-size: 16px; 
  margin-top: 5px; 
  margin-bottom: 4px;
  margin-left: 25px;
  margin-right: 5px;
  padding: 0.5rem 1rem; 
  border: none;
  border-radius: 8px; 
}

.btn-danger:hover {
  background-color: rgb(151, 9, 9);
}


  .botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.botones {
    display: flex;
    align-items: center;
}

.botones a {
  margin: 10px;
  padding: 90px 100px; 
  font-size: 50px; 
  background-color:#033c6b;
  color: white;
  border-radius: 9px;
  border-color: #dbdee0;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  width: 50%;
  transition: background-color 0.3s ease;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.botones a:hover {
background-color: #045a9b; 
}
@media (max-width: 768px) {
.navbar {
  justify-content: center; 
}

.dropdown-content-lg {
  width: 100%; 
}

.btn-danger {
  margin: 5px 0;
}
}
@media (max-width: 768px) {
.botones button {
  padding: 30px 50px; 
  font-size: 30px; 
  width: 80%; 
}

}