<head>
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
 </head>
 <body>
   <div class="aw">
     <input type="checkbox" id="toggler" />
     <aside class="aside-wrapper" >
       <h1 class="logo-text"><span>Menú</span> 
         <label for="toggler"><i class="fas fa-bars sidebar-toggle"></i></label>
       </h1>
       <ul>
         <li>
           <i class="fa fa-user"></i> Usuario
           <ul class="sub-menu">
             <li href="#"><i class="fas fa-id-card"></i> <a href="#"> Perfil</a></li>
             <li><i class="fas fa-sack-dollar"></i> <a href="#">Gastos</a></li>
           </ul>
         </li>
         <li>
           <i class="fa fa-burger-soda"></i> Menú
           <ul class="sub-menu">
             <li><i class="fas fa-bags-shopping"></i><a href="historial">Pedido</a></li>
             <li><i class="fas fa-utensils"></i><a href="pedido">Menú</a></li>
           </ul>
         </li>
         <li>
           <i class="fa fa-user-shield"></i> Administración
           <ul class="sub-menu">
             <li><i class="fas fa-user"></i> <a href="usuarios">Usuarios</a></li>
             <li><i class="fas fa-users"></i> <a href="perfiles">Perfiles</a></li>
             <li><i class="fas fa-user-edit"></i> <a href="registrar-usr">Registrar Usuario</a></li>
             <li><i class="fas fa-unlock-alt"></i> <a href="desbloqueo">Desbloqueo de Usuario</a></li>
             <li><i class="fas fa-paste"></i> <a href="reporte">Reportes</a></li>
             <li><i class="fas fa-truck"></i> <a href="parametros">Parámetros</a></li>
           </ul>
         </li>
         <li>
           <i class="fa fa-handshake"></i> Proveedor
           <ul class="sub-menu">
             <li><i class="fas fa-drumstick-bite"></i> <a href="menu">Menú</a></li>
           </ul>
         </li>
       </ul>
     </aside>
   </div>
   <nav class="navbar" id="nav-bar">
     <div class="navbar-right" >
       <div class="dropdown">
         <button class="dropbtn"><img src="./assets/users.png" width="35" height="40"></button>
         <span>Hola , {{ username }}</span>
         <div class="dropdown-content-lg"><br>
           <button class="btn btn-danger" (click)="logout()" ><i class="fa fa-sign-out"></i>Cerrar Sesión</button>
         </div>
       </div>
     </div>
   </nav>
   <div class="contenido">
      <h2><b>Registros de ingresos y salidas:</b></h2>
      <button class="btn-add">Agregar</button>
      <table mat-table>
        <thead>
          <tr>
            <th>Placa</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Céduka</th>
            <th>Residente/Visitante</th>
            <th>Dirección</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td>{{row.placa}}</td>
            <td>{{row.fecha}}</td>
            <td>{{row.nombre}}</td>
            <td>{{row.apellido}}</td>
            <td>{{row.sexo}}</td>
            <td>{{row.cedula}}</td>
            <td>{{row.residenteVisitante}}</td>
            <td>{{row.direccion}}</td>
            <td>
              <button class="btn-edit"><i class="fas fa-edit"></i></button>
              <button class="btn-trash"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>    
 </body>